body{
				font-family: Arial, Helvetica;
			}
			.underlined-headline{
				text-align: center;
			}
			h2{
				text-transform: uppercase;
			}
			hr{
				border: 0;
				border-top: 2px solid rgb(255,0,0);
				border-bottom: 2px solid #FF0000;
				width: 250px;
				height: 6px;
			}
			p{
				width: 75%;
				padding-bottom: 3em;
				font-size: .8em;
				line-height: 1.65rem;
				margin: 0;
			}
			.subtitle{
				text-decoration: none;
				font-style: italic;
				font-weight:400;
				color: red;
			}
			a:hover{
				text-decoration: underline;
			}